body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.tab-contents {
    border: 1px solid black;
    width: 650px;
    height: initial;
    margin-left: auto;
    margin-right: auto;
  }

.buttons-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

.title {
	font-size: 22px;
	font-family: sans-serif;
	font-weight: bold;
	margin-right: 20px;
	display: inline-flex;
	align-items: center;
}

.brush-img {
	width: 30px;
	margin-right: 5px;
}

.btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-right: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.color-box {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 10em;
	overflow: hidden;
	margin-right: 10px;
}

.color-input {
	position: relative;
	top: -15px;
	left: -15px;
	width: 60px;
	height: 60px;
	padding: 0;
	border: 0;
}

.wrp {
	display: inline-flex;
	align-items: center;
}

.output {
	width: 45px;
	margin-left: 5px;
	padding-left: 3px;
	padding-right: 3px;
}

/* Style the tab */
.tab {
	align-items: center;
	width: 650px;
	height: 46px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tablinks {
	display: flex;
	align-items: center;
	position: relative;
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	border-radius: 20px 20px 0 0;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.tablinks:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tablinks.active {
	background-color: #fff;
}

.tablinks.add-tab {
	margin-left: 6px;
	padding: 7px 11px;
	border-radius: 50px;
}

.tablinks.add-tab::before,
.tablinks.add-tab::after {
	display: none;
}

/* Style the tab content */
.tabcontent {
	display: none;
}

.tabcontent.active {
	display: block;
}

.tablinks__close {
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/close.svg);
	display: flex;
	width: 16px;
	height: 16px;
	margin-left: 5px;
}

.tablinks__close:hover {
border-radius: 50%;
background-color: #ccc;
}

.canvas-coordinates {
	text-align: center;
	margin-top: 20px;
}

.canvas-coord-x, .canvas-coord-y {
	padding: 5px;
	display: inline-block;
	width: 100px;
}

.canvas-coord-y {
	margin-left: 10px;
}